* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  --text: #f1f1f1;
  background: linear-gradient(#8196ab, #1a1a1a);
  color: var(--text);
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}
.container {
  width: min(90%, 1000px);
  margin: auto;
}
header {
  background: #010908;
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 7rem;
}
.nav-links a {
  text-decoration: none;
  color: var(--text);
  transition: 0.3s ease;
}
.nav-links a:hover {
  color: orange;
}
.menu-toggle {
  display: none;
  background: none;
  color: white;
  font-size: 1.5rem;
  border: none;
}
.hero {
  text-align: center;
  padding: 4rem 0;
  background-image: url(Background.jpg);
  height: 100vh;
  background-size: cover;
}
h1 {
  font-size: 175px;
  display: flex;
  margin-top: 100px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: black 12px -24px 20px;
}
.hero h2 {
  font-size: 2.4rem;
}
.accent {
  color: orange;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1.4rem;
  background: orange;
  color: #000;
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.3s ease;
}
.btn:hover {
  opacity: 0.8;
}
.Manuel-jpeg {
  display: block;
  margin: auto;
  margin-top: 100px;
  height: 500px;
}

.section {
  padding: 3rem 0;
}

h2 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 1rem;
  text-shadow: black 12px -24px 20px;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.card {
  background: black;
  padding: 1rem;
  border-radius: 8px;
  transition: 0.3s ease;
  box-shadow: 0.3s ease;
}

.card img {
  width: 100%;
  border-radius: 6px;
}

.card:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 20px #0006;
}

footer {
  text-align: center;
  padding: 2rem 0;
  background: #000;
  margin-top: 2rem;
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .menu-toggle {
    display: none;
  }
  h1 {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .menu-toggle {
    display: block;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    background: #000;
    padding: 1rem;
    margin-top: 1rem;
  }
  .nav-links.show {
    display: flex;
  }
  h1 {
    width: 100%;
  }
}
